<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Orders</title>
</head>
<body>
    <h1>Change Order</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/cookies/edit/process" method="post">
        <input type="hidden" name="id" value={{order.id}}>
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="cookie_type">Cookie Type: </label>
        <input type="text" name="cookie_type">
        <label for="amount">Number of Boxes: </label>
        <input type="number" name="amount">
        <button>Log</button>
    </form>
    <a href="/">Back to Purchases</a>
</body>
</html>