<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Orders</title>
</head>
<body>
    <h1>Log a New Order</h1>
    <form action="/process/new" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="cookie_type">Cookie Type: </label>
        <input type="text" name="cookie_type">
        <label for="boxes">Number of Boxes: </label>
        <input type="number" name="boxes">
        <button>Log</button>
    </form>
    <a href="/">Back to Purchases</a>
</body>
</html>