<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Show</title>
</head>
<body>
    <div>
        <h1>Title: {{book.title}}</h1>
        <h4>Favorited By: </h4>
        <table>
            {% for author in books.authors %}
                <tr>
                    <td>{{author.first_name}} {{author.last_name}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h1>Add Book's Favorites</h1>
        <form action="/process/add_fave_book" method="post">
            <input type="hidden" name="book_id" value={{book.id}}>
            <label for="user_id">Author: </label>
            <select name="user_id">
                {% for author in authors %}
                    <option value={{author.id}}>{{author.first_name}} {{author.last_name}}</option>
                {% endfor %}
            </select>
            <button>Add</button>
        </form>
    </div>
    <a href="/">Home</a>
</body>
</html>